In [1]:
#author: moonr
#coding: utf-8
#数据预处理，整理成标准格式输入Surprise

In [2]:
import sys
import pandas as pd
import numpy as np

In [3]:
#数据基本路径
data_path = '../../data/'
#读取user数据
user_df = pd.read_csv(data_path + 'user.csv')
#读取movie数据
movie_df = pd.read_csv(data_path + 'movie.csv')

In [4]:
user_df.head()

   评分     用户名                 评论时间  用户ID    电影名  类型
0   2      身似  2018-01-05 15:05:06     1   心雨花露  爱情
1   4  有意识的贱民  2018-01-05 15:05:06     3  战争的恐怖  战争
2   2    亿万露电  2018-01-05 15:05:06     4  豪勇七蛟龙  战争
3   2   Marni  2018-01-05 15:05:06     5   无序之主  犯罪
4   4   马西嘻嘻嘻  2018-01-05 15:05:06     6  时装店风波  同性

In [5]:
#用户ID_用户名列表
user_id2name_list = user_df[['用户ID','用户名']].drop_duplicates()
#ID唯一性
for i in user_id2name_list['用户ID'].tolist():
    if len(user_id2name_list[user_id2name_list['用户ID'] == i]) >=2:
        print('用户ID：{}重复'.format(i))
print('用户列表长度：{}'.format(len(user_id2name_list)))

用户列表长度：13545

In [6]:
movie_df.head()

   类型                  主演    地区     导演  特色   评分     电影名
0  剧情    徐峥|王传君|周一围|谭卓|章宇  中国大陆    文牧野  经典  8.9   我不是药神
1  剧情   冯小刚|许晴|张涵予|刘桦|李易峰  中国大陆     管虎  经典  7.8     老炮儿
2  剧情  王宝强|刘昊然|肖央|刘承羽|尚语贤  中国大陆    陈思诚  经典  6.7  唐人街探案2
3  剧情  任素汐|大力|刘帅良|裴魁山|阿如那  中国大陆  周申|刘露  经典  8.3     驴得水
4  剧情   徐峥|王宝强|李曼|李小璐|左小青  中国大陆    叶伟民  经典  7.5    人在囧途

In [7]:
#对电影名进行编号
movie_id2name_list = movie_df['电影名'].drop_duplicates().reset_index()
movie_id2name_list.columns = ['电影ID', '电影名']
print('电影列表长度：{}'.format(len(movie_id2name_list)))
movie_id2name_list.head()

电影列表长度：23034

   电影ID     电影名
0     0   我不是药神
1     1     老炮儿
2     2  唐人街探案2
3     3     驴得水
4     4    人在囧途

In [8]:
userdf_joinmovieid = pd.merge(user_df,movie_id2name_list,how = 'left',left_on='电影名',right_on='电影名')
#是否存在没有匹配上的电影名称
len(userdf_joinmovieid[userdf_joinmovieid.isnull().T.any()])

0

In [9]:
userdf_joinmovieid.head()

   评分     用户名                 评论时间  用户ID    电影名  类型   电影ID
0   2      身似  2018-01-05 15:05:06     1   心雨花露  爱情  41273
1   4  有意识的贱民  2018-01-05 15:05:06     3  战争的恐怖  战争   7411
2   2    亿万露电  2018-01-05 15:05:06     4  豪勇七蛟龙  战争  11121
3   2   Marni  2018-01-05 15:05:06     5   无序之主  犯罪   4783
4   4   马西嘻嘻嘻  2018-01-05 15:05:06     6  时装店风波  同性  19002

In [10]:
#将用户原始数据转换为suprise需要的格式数据并保存
parse_file_path = '../../data/'
userdf_suprise_format = userdf_joinmovieid[['用户ID', '电影ID', '评分', '评论时间']]
userdf_suprise_format.columns = ['userid', 'movieid', 'score', 'timestamp']
userdf_suprise_format.to_csv(parse_file_path + 'data_suprise_format.csv',index=False,sep=',')

In [11]:
#保存用户及电影信息
user_id2name_list.to_csv(parse_file_path + 'user_list.csv',index=False)
movie_id2name_list.to_csv(parse_file_path + 'movie_list.csv',index=False)